asn1crypto==0.24.0
attrs==21.2.0
backports-abc==0.5
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.3
bleach==3.3.1
blessings==1.7
cachetools==3.1.1
certifi==2021.10.8
chardet==4.0.0
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
cycler==0.10.0
Cython==0.29.32
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.5.1
entrypoints==0.3
enum34==1.1.6
filelock==3.2.1
functools32==3.2.3.post2
futures==3.3.0
gdown==4.2.0
google-api-core==1.31.5
google-api-python-client==1.12.11
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.52.0
gpustat==0.6.0
h5py==2.10.0
httplib2==0.20.4
idna==2.6
importlib-metadata==2.1.2
ipaddress==1.0.17
ipykernel==4.10.1
ipython==5.10.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
Jinja2==2.11.3
joblib==0.14.1
jsonlines==1.2.0
jsonschema==3.2.0
jupyter-client==5.3.5
jupyter-console==5.2.0
jupyter-core==4.6.3
jupyterlab-launcher==0.11.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.5
mistune==0.8.4
multiprocess==0.70.13
nbconvert==5.6.1
nbformat==4.4.0
notebook==5.7.13
npm==0.1.1
numpy==1.16.6
nvidia-ml-py==375.53.1
oauthlib==3.1.0
optional-django==0.1.0
packaging==20.9
pandocfilters==1.5.0
pathlib2==2.3.6
pathos==0.2.9
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.2
pip-autoremove==0.10.0
pox==0.3.1
ppft==1.7.6.5
prometheus-client==0.12.0
prompt-toolkit==1.0.18
protobuf==3.17.3
psutil==5.9.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.3
pycrypto==2.6.1
Pygments==2.5.2
pygobject==3.26.1
pyparsing==2.4.7
pyrsistent==0.16.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
pyxdg==0.25
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.11.2
requests==2.26.0
requests-oauthlib==1.3.1
rsa==4.5
scandir==1.10.0
SecretStorage==2.3.1
Send2Trash==1.8.0
simplegeneric==0.8.1
simplejson==3.17.5
singledispatch==3.7.0
six==1.16.0
soupsieve==1.9.6
-e git+https://github.com/aimagelab/speaksee@63700a4062e2ae00132a5c77007604fdaf4bd00b#egg=speaksee
subprocess32==3.5.4
terminado==0.8.3
testpath==0.4.4
torch==1.4.0
torchvision==0.5.0
tornado==5.1.1
tqdm==4.62.3
traitlets==4.3.3
txt2tags==3.7
uritemplate==3.0.1
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2
zipp==1.2.0
